@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");

:root {
    --text: #111517;
    --bg: #fafafa;
    --elem: #ffffff;
    --box-shadow: #e4e1e1;
}
[data-theme='dark'] {
    --text: #ffffff;
    --bg: #202c37;
    --elem: #2b3945;
    --box-shadow: #141a1f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* transition: .2s; */
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.2em;
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--bg);
}

/* HEADER */
header {
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 7rem;
    box-shadow: 0 0 9px var(--box-shadow);
}
.color-mode {
    color: var(--text);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    background-color: var(--bg);
    border: none;
    cursor: pointer;
    display: flex;
}

.color-mode img {
    margin-right: 5px;
}


/* SEARCH BAR & DROPDOWN */
.filters {
    margin: 4rem 7rem;
    display: flex;
    justify-content: space-between;
}
.search-bar input {
    width: 100%;
    padding: 1rem 2rem 1rem 4rem;
    background: url("../assets/magnifying-glass.svg") 20px no-repeat, var(--elem);
    background-size: 10px;
    font-family: "Nunito Sans", sans-serif;
}
.dropdown select {
    padding: 1rem 2rem;
    background: var(--elem);
    font-family: "Nunito Sans", sans-serif;
}
.search-bar input, .dropdown select {
    color: var(--text);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 7px var(--box-shadow);
}
option {
    border: none;
}

/* MAIN COUNTRY CARDS */
.countries-list {
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.countries-list a {
    text-decoration: none;
    color: var(--text);
}
.country-card {
    min-width: 200px;
    background-color: var(--elem);
    border-radius: 7px;
    box-shadow: 0 0 7px var(--box-shadow);
    margin: 2rem;
}
.card-img {
    width: 315px;
    height: 210px;
    border-radius: 7px 7px 0 0;
    box-shadow: 0 0 5px var(--box-shadow);
}
.card-infos {
    padding: 2rem;
}
.card-title {
    font-size: 2rem;
    padding-bottom: 1rem;
}
.card-detail, .country-detail {
    font-size: 1.4rem;
    padding-bottom: .5rem;
    font-weight: 300;
}
.card-detail-title, .country-detail-title, .border-title {
    font-weight: 600;
}

/* COUNTRY DETAIL */
.country-solo {
    padding: 3rem;
    color: var(--text);
}
.country-img {
    width: 100%;
    max-width: 350px;
    margin: 2rem 0;
    box-shadow: 0 0 5px var(--box-shadow);
}
.country-name {
    font-size: 2.3rem;
    padding: 2rem 0;
}
.country-infos div:first-child {
    padding-bottom: 2rem;
}
.country-borders {
    padding: 2rem 0;
}
.border-title {
    font-size: 1.6rem;
}
.border-list {
    display: flex;
    flex-wrap: wrap;
}
.border-item {
    list-style-type: none;
    margin: 1rem 1rem 0 0;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 5px var(--box-shadow);
}

/* LOADING ANIMATION */

.loader {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #a7a9ff;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}